/* track css */
h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

.trackContainer {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  /* padding: 0.25em 0.5em 0 0; */
  margin-bottom: 0.25em;
}

.trackArtistAlbum {
  margin-bottom: 0.55em;
  font-size: 1.11em;
}

.addDeleteBtnContainer {
  display: flex;
  align-items: center;
}

.addDeleteBtn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

