
/* normalize */
* {
      box-sizing: border-box;
    }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1, h2, h3 {
  margin: 0;
}

/* app */
.App {
  position: fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background: #502a56;

  border: 1px solid white;

  color: white;
}

/* header */
.header {
  background-color: #323967;
  border-bottom: 3px solid #000;
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}